.popup__button-save {
  max-width: 358px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  margin-top: 45px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.popup__button-save:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .popup__button-save {
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
