.popup__button-save {
  max-width: 358px;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 18px;
  margin: 45px auto 37px auto;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* text-align: center; */
}

.popup__button-save:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .popup__button-save {
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
