.popup__container {
    max-width: 430px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width: 500px) {
    .popup__container {
        max-width: 282px;
        padding-left: 25px;
        padding-right: 25px;
    }
}