.popup__button_close {
  align-self: flex-end;
  margin-right: -35px;
  margin-top: -350px;
  border-style: none;
  max-width: 40px;
  max-height: 40px;
  padding: 0;
  background-color: transparent; 
}

.popup__button_close:hover{
    cursor: pointer;
}

@media screen and (max-width: 500px) {
 .popup__button_close {
  margin-right: 0;
  margin-top: -330px;
  }
}