.profile__add-button {
  max-width: 150px;
  max-height: 50px;
  padding: 14px 0 14px 0;
  width: 100%;
  height: auto;
  margin-left: auto;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  background-color: black;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .profile__add-button {
    max-width: 282px;
    margin: 36px 0 0 0;
  }
}


@media screen and (max-width: 320px) {
  .profile__add-button {

  }
}