.elements__text {
  max-width: 210px;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  /* display: inline-block; */
  /* padding: 25px 0 31px 21px; */
  margin: 0;
}


@media screen and (max-width: 900px) {
  .elements__text {
     max-width: 160px;
 padding: 20px 0 20px 10px;
  }
}

@media screen and (max-width: 469px) {
  .elements__text {
     max-width: 140px;
 padding: 20px 0 20px 10px;
  }
}

@media screen and (max-width: 450px) {
  .elements__text {
     max-width: 200px;
 padding: 25px 0 31px 20px;
  }
}