.elements__heart-image {
  max-width: 22px;
  max-height: 19px;
  display: inline-block;
  padding-bottom: 35px;
  white-space: nowrap;
}

.elements__heart-image:hover {
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  .elements__heart-image {
    padding-bottom: 23px;
  }
}

@media screen and (max-width: 450px) {
  .elements__heart-image {
    padding: 0 0 35px 15px;
  }
}
