.elements__heart-image {
  max-width: 22px;
  max-height: 19px;
  white-space: nowrap;
  align-self: center;
  background-image: url(../../../images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  padding: 12px;
}

.elements__heart-image:hover {
  opacity: 0.5;
  cursor: pointer;
}
